{% extends "base.html" %}
{% load static %}
{% block title %}
	{{ block.super }}
	Preside over conference
{% endblock %}
{% block content %}
	{{ block.super }}

<script type="text/javascript" src="{% static "js/jquery-1.10.2.min.js" %}"></script>
<script type="text/javascript">
$(document).ready(function () {
	$.ajax({
		url: "{% url "presider:ajax" id %}",
		dataType: "json", 
	}).done(function(data) {
		/* FIXME: I need to parse this thing to build the div box */
		alert(data['conf'][0][1]);
	});
});

</script>


{% endblock %}
